<div class="section" id="sec1">
  <div class="branding">
    <h1 class="marg_top white aventura">Aventura</h1>
    <h2 class="white aventura2">What adventures will you share with the world?</h2>
  </div>

  <div class="buttons">
    <div class="button1">SIGN UP FOR FREE</div>
    <div class="button2">ALREADY A USER?</div>
  </div>

</div>

<div class="section_w" id="sec2">
  <h3>Travel Blogging Made Easy</h3>
  <div class="inlineb">
  <p>Here at Aventura,</br>
  we make it so that not only</br>
  you can enjoy your adventures</br>
  but that the whole world will</br>
  be able to enjoy them aswell.</br>
  Starting a blog with Aventura</br>
  is simple, after that it gets</br>
  even easier.</br>
  Whether you're on the go</br>
  climbing the Drakensbergs or</br>
  chilling by the pool in Majorca,</br>
  you can share your travel</br>
  adventures with the world at</br>
  the push of a button!</p>
  </div>

  <div class="right inlineb">
    <p>
      <span class="b">Features</span></br>
      •500 word micro-blogs.</br>
      •Free forever!</br>
      •Geo-location.</br>
      •Up to 3 images per post.</br>
      •Read limitless amounts of</br>
       travel stories
    </p>
  </div>

  <div class="right inlineb nobor bordfix">
    <p>
      Want to get involved? </br> 
      There’s
      nothing stopping you!</br>
      <span class="blueb">Sign up now for free at</br>
      Aventura!</span>
    </p>
  </div>

</div>

<div class="section_b" id="sec3">
  <h3>Example Blog</h3>
</div>