/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Helvetica', Arial, sans-serif;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

.marg_top {
  margin-top: 0;
}

.aventura {
  height: 110px;
  text-align: center;
  font-size: 62pt;
  margin: 0 auto 0px 0;
}

.aventura2 {
  margin: -15px auto 0 auto;
  text-align: center;
  font-weight: 200;
  font-size: 18pt;
}

h1 {
  font-weight: 700;
}

.white {
  color: white;
}